*{
    margin: 0;
    padding: 0;
    font-family: "Teko" ;
}
.menu a{
    text-decoration: none;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191935;
}
.block-content{
    width: 1200px;
    margin: 40px 0 40px 0;
    z-index: 2;
}
.logos{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-title{
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
}
.title{
    display: flex;
    color: white;
    margin: 0 0 0 10px;
}
.menu{
    display: flex;
    align-items: center;
    gap: 50px;
}
.menu1 a{
    color: white;
    font-weight: 500;
    font-size: 20px;
}
.menu1:hover{
    color: #f90000;
}
.icons{
    color: white;
    display: flex;
    font-size: 20px;
    gap: 20px;
}
.icon1:hover{
    color: #f90000;
}

.main-block{
    width: 1200px;
}
#main-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 640px;
    background-image: url("../images/about-1-img.jpg  ");
    background-repeat:no-repeat;
    background-size: cover;
    position: relative;

}
#main-block::after{
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5); /* Чем меньше третий параметр в rgba(), тем менее прозрачен темный фильтр */
    z-index: 1;
}
.main-text{
    color: #ffffff;
    font-weight: 200;
    font-family:"Teko",sans-serif;
    line-grid-progression: 0.6;
    font-size: 50px;
    margin-top: 250px;
    position: absolute;
    z-index: 2;
}
.main-title{
    color: #ffffff;
}
