
*{
    margin: 0;
    padding: 0;
    font-family: "Teko", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
}
.block-image{
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("images/img1.jpeg");
    position: relative;
    display: flex;
    justify-content: center;
}
.block-image::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Чем меньше третий параметр в rgba(), тем менее прозрачен темный фильтр */
    z-index: 1; /* Поместите фильтр поверх фона */
}
.block-content{
    width: 1200px;
    margin: 40px 0 0 0;
    z-index: 2;
    /*background: #f90000;*/
}
.logos{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-title{
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
}
.media-menu{
    display: none;
}
.title{
    display: flex;
    color: white;
    margin: 0 0 0 10px;
}
.menu{
    display: flex;
    align-items: center;
    gap: 50px;
}
.menu1 a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
a{
    color: white;
    text-decoration: none;
}
.menu1 a:hover{
    transition: 0.3s;
    color: #f90000;
}
.icons{
    color: white;
    display: flex;
    font-size: 20px;
    gap: 20px;
}
.icon1:hover{
    color: #4aff00;
}
.icon2:hover{
    color: #d104ff;
}
.icon3:hover{
    color: #0051ff;
}
.icon4:hover{
    color: #f90000;
}
.content-center1{
    margin: 120px 0 0 0;
}
.kyrgyzstan{
    font-size: 100px;
    color: white;
    font-weight: bold;
}
.animation1{
    color: white;
    font-size: 60px;
    font-weight: bold;
}
.animation1:hover{
    transition: 0.5s;
    color: #f90000;
}
.button1{
    width: 120px;
    height: 40px;
    margin: 30px 0 0 0;
    font-weight: bold;
    font-size: 17px;
    background: none;
    border: 1px solid white;
    color: white;
}
.button1:hover{
    background: #f90000;
    border: 1px solid #f90000;
    transition: 0.5s;
}
.red-con{
    width: 100%;
    height:  250px;
    background: #f90000;
    opacity: 0.8;
    position: absolute;
    margin: -250px 0 0 0;
    clip-path: polygon(100% 0, 0% 40%, 0 100%, 100% 100%);
}
.about{
    display: flex;
    position: absolute;
    margin: 50px 0 0 0;
}
.content-title{
    width: 500px;

    color: white;
    font-size: 40px;
    font-weight: bold;
}
.content-text{
    margin: 0 0 0 200px;
    font-size: 25px;
    color: white;
}

.block-image2{
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("images/img2.jpg");
    position: relative;
    display: flex;
    justify-content: center;
}
.block-image2::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Чем меньше третий параметр в rgba(), тем менее прозрачен темный фильтр */
    z-index: 1; /* Поместите фильтр поверх фона */
}
.travel{
    background: #f90000;
    color: white;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin: 50px 0 50px 0;
}
.animation2{
    color: white;
    font-size: 60px;
    font-weight: bold;
}
.animation2:hover{
    color: #f90000;
    transition: 0.5s;
}
.by{
    margin: 20px 0 0 0;
    font-size: 20px;
    color: white;
}
.admin{
    color: #f90000;
}
.content2-right{
    margin: 30px 0 0 600px;
    width: 500px;
    font-size: 25px;
    color: white;

}
.button2{
    width: 120px;
    height: 40px;
    margin: 30px 0 0 600px;
    font-weight: bold;
    font-size: 17px;
    background: none;
    border: 2px solid white;
    color: white;
}
.button2:hover{
    background: #f90000;
    border: 1px solid #f90000;
    transition: 0.5s;
}
.tags{
    margin: 20px 0 0 0;
    color: white;
    font-size: 25px;
    display: flex;
    align-items: center;
}
.block-image3{
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("images/imga3.jpg");
    position: relative;
    display: flex;
    justify-content: center;
}
.block-image3::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Чем меньше третий параметр в rgba(), тем менее прозрачен темный фильтр */
    z-index: 1; /* Поместите фильтр поверх фона */
}
.block-image4{
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("images/img4.jpg");
    position: relative;
    display: flex;
    justify-content: center;
}
.block-image4::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Чем меньше третий параметр в rgba(), тем менее прозрачен темный фильтр */
    z-index: 1; /* Поместите фильтр поверх фона */
}
.block-image5{
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("images/img5.jpg");
    position: relative;
    display: flex;
    justify-content: center;
}
.block-image5::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Чем меньше третий параметр в rgba(), тем менее прозрачен темный фильтр */
    z-index: 1; /* Поместите фильтр поверх фона */
}
.block-image6{
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("images/img6.jpeg");
    position: relative;
    display: flex;
    justify-content: center;
}
.block-image6::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Чем меньше третий параметр в rgba(), тем менее прозрачен темный фильтр */
    z-index: 1; /* Поместите фильтр поверх фона */
}
footer{
    width: 1200px;
    margin: 40px 0 0 0;
    z-index: 2;
}
.block-image-footer{
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("images/footer.jpg");
    position: relative;
    display: flex;
    justify-content: center;
}
.block-image-footer::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 97, 70, 0.1);
    z-index: 1; /* Поместите фильтр поверх фона */
}
.txt-footer{
    color: black;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    margin: 30px 0 60px 0;
}
input{
    width: 600px;
    height: 60px;
    border-bottom: 1px solid black;
    background: none;
    border-top:none;
    border-left:none ;
    border-right: none;
    font-size: 20px;
    color: black;
    caret-color: rgba(0, 0, 0, 0.4);
}

input::placeholder{
    font-size: 20px;
    color: rgba(0, 0, 0);
}
input:focus{
    outline: none;
}
.sendnow{
    background: black;
    color: white;
    font-size: 16px;
    margin: 50px 0 0 0;
    width: 120px;
    height: 40px;
    border: none;
}
.sendnow:hover{
    background: white;
    color: black;
    transition: 0.2s;
}
.sendnow:active{
    background: black;
    color: white;
}
.zemez{
    color: #c40000;
}
.footer-icons{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0 0 0;
    gap: 50px;
    font-size: 35px;
}
.icon1-footer1{
    color: black;
}
.icon1-footer1:hover{
    color: #4aff00;
}
.icon1-footer2{
    color: black;
}
.icon1-footer2:hover{
    color: #d104ff;
}
.icon1-footer3{
    color: black;
}
.icon1-footer3:hover{
    color:#0051ff;
}
.icon1-footer4{
    color: black;
}
.icon1-footer4:hover{
    color: #f90000;
}

.footer-admin{
    margin: 40px;
}



/*         media       */



.media-menu-block2{
    background: #191935;
    width: 260px;
    position: fixed;
    z-index: 5;
    height: 100%;
}

.block-in-media{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40px;
    margin: 20px  0 0 0;
}

.logo-title-media{
    display: flex;
    align-items: center;
}
.media-cloused{
    display: flex;
    align-items: center;
    font-size: 25px;
    color: white;
}
.logo-media{
    width: 25px;
}
.title-media{
    font-size: 20px;
    margin: 0 0 0 5px;
    color: white;
}
.media-menu-block{
    display: none;
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    left: 0;
}

.menu-media{
    margin: 20px  0 0 0;
    width: 100%;
}
.media-menu1 {
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}
.media-menu1:hover{
    color: #f90000;
    transition: 0.3s;
}
.media-icons{
    width: 100%;
    margin: 20px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.icon1-media{
    color: white;
    font-size: 25px;
}
.icon1-media:hover{
    color: #05ff05;
}
.icon2-media{
    color: white;
    font-size: 25px;
}
.icon2-media:hover{
    color: #d104ff;
}
.icon3-media{
    color: white;
    font-size: 25px;
}
.icon3-media:hover{
    color: #0051ff;
}
.icon4-media{
    color: white;
    font-size: 25px;
}
.icon4-media:hover{
    color: #f90000;
}


/*media*/

@media screen and (max-width: 480px) {
    .block-image{
        position: relative;
        width: 100%;
        height:650px;
        background-position: center;
    }
    .block-content{
        position: absolute;
        width: 80%;
        z-index: 2;
        margin: 30px 0 0 0;
    }
    .logos{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo-title{
        display: flex;
        align-items: center;
    }
    .logo{
        width: 30px;
    }
    .title{
        font-size: 17px;
        display: flex;
        color: white;
        margin: 0 0 0 5px;
    }
    .media-menu{
        display: block;
        font-size: 25px;
        color: white;
    }
    .media-menu-block{
        /*display: none;*/
    }


    .menu{
        display: none;
    }
    .menu1 a{
        display: none;
    }
    .menu{
        display: none;
    }
    .menu1 a{
        display: none;
    }
    .icons{
        display: none;
    }

    .content-center1{
        margin: 50px  0 0 0;
    }
    .kyrgyzstan{
        font-size: 60px;
    }
    .animation1{
        font-size: 30px;
    }
    .about{
        margin: 90px 0 0 0;
        display: block;
        height: 300px;
    }
    .red-con{
        width: 100%;
        height:  320px;
        background: #f90000;
        opacity: 0.8;
        position: absolute;
        margin: -320px 0 0 0;
        clip-path: polygon(100% 0, 0% 30%, 0 100%, 100% 100%);
    }
    .content-title{
        width: 100%;
        font-size: 25px;
    }
    .content-text {
        font-size: 20px;
        margin: 10px 0 0 0;
    }
    .block-image2{
        height: 630px;
        background-position: center;
    }
    .block-image3{
         height: 630px;
    }
    .block-image4{
        height: 630px;
    }
    .block-image5{
        height: 630px;
        background-position: center;
    }
    .block-image6{
        height: 630px;
        background-position: center;
    }


    .animation2{
        color: white;
        font-size: 30px;
        font-weight: bold;
    }
    .animation2:hover{
        color: #f90000;
        transition: 0.5s;
    }
    .by{
        margin: 20px 0 0 0;
        font-size: 15px;
    }
    .content2-right{
        margin: 50px 0 0 0;
        width: 100%;
        font-size: 20px;
    }
    .button2{
        margin: 30px 0 0 240px;
    }
    .tags{
        margin: 20px 0 0 0;
        color: white;
        font-size:20px;
    }
    .block-image-footer{
        height: 630px;
        background-position: center;
    }


    /*///////////////////////////////*/

    .txt-footer{
        color: black;
        font-weight: bold;

        font-size: 27px;
        text-align: center;
        margin: 10px 0 40px 0;
    }
    input{
        width: 380px;
        height: 60px;
        border-bottom: 1px solid black;
        background: none;
        border-top:none;
        border-left:none ;
        border-right: none;
        font-size: 20px;
        color: black;
        caret-color: rgba(0, 0, 0, 0.4);
    }

    input::placeholder{
        font-size: 20px;
        color: rgba(0, 0, 0);
    }
    .footer-icons{
        gap: 30px;
        font-size:35px;
    }
    .footer-admin{
        margin: 25px;
    }
}

/*   /////////////////////////////     */

